/* *****************************************
		VARIABLES
******************************************** */

$gutter: 20px;

// BREAKPOINTS
$size__site-main: 100%;
$size_desktop: 1200px;
$size_tablet-large: 945px;
$size_tablet: 1000px;
$size_mobile-landscape: 650px;
$size_mobile: 650px;
$size_site-sidebar:20%;

// COLORS
$color_white: #F9F9F9;
$color_grey-light: #e9e9e9;
$color_black: #34313d;
$color_black-light: rgba(52, 49, 61, 0.25);
$color_blue: #007dc4;
$color_green: #008083;
$color_brown-dark: #231f20;
$color_grey:#7F7F7F;

// FONTS

// Maison Neue - Light
$font_header: 'Maison Neue - Light';

//Maison Neue - Book
$font_main: 'Maison Neue - Book';
$font_two: 'Mainson Neue - Reg';
$font_three: 'Maison Neue - Medium';
$font_four: 'Maison Neue - Mono';

$font_secondary: sans-serif;
